{% extends "core/base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h2>Historias Recientes</h2>

<div class="row">
    {% for story in stories %}
    
    <div class="col-md-6 col-lg-4 d-flex mb-4">
        <div class="card story-card w-100 position-relative">

            {% if user.is_authenticated %}
                <a href="{% url 'toggle_favorite' story.id %}" class="favorite-toggle">
                    {% if story.id in favorite_stories_ids %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                </a>
            {% endif %}

            <a href="{% url 'story_detail' story.slug %}">
                {% if story.cover_image %}
                    <img src="{{ story.cover_image.url }}" class="card-img-top">
                {% else %}
                    <img src="/static/default_cover.jpg" class="card-img-top">
                {% endif %}
            </a>

            <div class="card-body">
                <h4 class="card-title">{{ story.title }}</h4>
                <p class="text-muted">{{ story.category.name }}</p>
                <a href="{% url 'story_detail' story.slug %}" class="btn btn-outline-light btn-view">
                    Ver historia
                </a>
            </div>

            <div class="favorite-count">
                ⭐ {{ story.favorited_by.count }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
