{% extends "core/base.html" %}

{% block title %}Historias{% endblock %}

{% block content %}
<h1 class="fw-bold mb-4">Todas las historias</h1>

<div class="row">

    {% for story in stories %}

    <div class="col-md-6 col-lg-4 d-flex mb-4">
        <div class="card story-card w-100 position-relative">

            {% if user.is_authenticated %}
                <a href="{% url 'toggle_favorite' story.id %}" class="favorite-toggle">
                    {% if story.id in favorite_stories_ids %}
                        ★
                    {% else %}
                        ☆
                    {% endif %}
                </a>
            {% endif %}

            <a href="{% url 'story_detail' story.slug %}">
                {% if story.cover_image %}
                    <img src="{{ story.cover_image.url }}" class="card-img-top">
                {% else %}
                    <img src="/static/default_cover.jpg" class="card-img-top">
                {% endif %}
            </a>

            <div class="card-body">
                <h4 class="card-title">{{ story.title }}</h4>
                <p class="text-muted">{{ story.category }}</p>
                <a href="{% url 'story_detail' story.slug %}" class="btn btn-outline-light btn-view">
                    Ver historia
                </a>
                <div class="favorite-count mt-2">
                    ⭐ {{ story.favorites_count }}
                </div>
            </div>
        </div>
    </div>

    {% empty %}
    <p>No hay historias disponibles.</p>

    {% endfor %}

</div>

{% endblock %}
